body {
  background-color: #363062;
  color: white;
  font-family: 'Megrim', cursive;
  margin: 0;
}

button {
  font-size: 1.5em !important;
}

h1 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.add-todo-container {
  display: flex;
}

.add-todo-input {
  font-size: 2em;
  padding: 40px;
  width: 60%;
}

.add-todo-btn {
  font-size: 2.3em;
  width: 40%;
}

.emphasis {
  font-family: 'Vast Shadow', cursive;
  font-size: 4em;
}

.header {
  display: flex;
  justify-content: center;
}

.left {
  margin-left: 16px;
}

.title-todo {
  align-items: center;
  display: flex;
  font-size: 3em;
  list-style: none;
}

.todo {
  align-items: center;
  background-color: #4d4c7d;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
